*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	cursor: pointer;
}
ul,li,ol{
	list-style: none;
}
cursor:pointer
textarea{
	resize: none;
}
body{
	font-family: "microsoft yahei";
}
.clear{
	line-height: 0;
	height: 0;
	overflow: hidden;
	font-size: 0;
	clear: both;
}